<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" href="../Public/css/estiloTelaInicial.css">
</head>
<body>
    <header>
        <p>RPG-HUB</p>
        <h1>Tela Inicial</h1>
        <img src="../Public/img/logo.svg" alt="Logo do site">
    </header>

    <div>
        <div id="hospedagem">
            <button>Hospedar Sessão</button>
        </div>

        <div id="criarSala">
            <p>Codigo da sala</p>
            <input type="text" id="codigo"><br>

            <p>
                <input type="checkbox" id="espectador">Entrar como espectador
            </p>
            <p>
                <input type="checkbox" id="jogador">Entrar como jogador
            </p>

            <button>Entrar no jogo</button>
        </div>
    </div>
</body>
