<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala Jogador</title>
    <link rel="stylesheet" href="../Public/css/estiloTelaEspectador.css">
</head>
<body>
    <header>
        <img src="../Public/img/logo.svg" alt="Logo RPG-HUB">
        <img src="../Public/img/RPG-HUB.svg" alt="Nome Site" id="nomeSite">
    </header>

    <div class="container">
        <aside class="caixa-jogadores"><br><br>
            <div class="header-info">
              <p>Sala:</p>
              <p>Tamanho do dado:</p>
              <p>Tipo do dado:</p>
              <p>Número de dados:</p>
          </div>
          </aside>
    
        
        <main class="area-central">
            <div class="dado">
                <div class="dado-container">
                  <img src="../Public/img/D20-fundo.svg" alt="Fundo D20" class="dado-fundo">
                  <img src="../Public/img/D20.svg" alt="Dado D20" class="dado-frente">
                </div>
              </div>              
</body>
</html>