* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #7c838f;
    color: red;
    height: 100vh;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3c261c;
    padding: 10px 30px;
    border-bottom: 2px solid #999;
}

header img {
    height: 60px;
}

header p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    color: red;
}

header h1 {
    flex: 1;
    text-align: center;
    font-size: 40px;
    margin-right: 60px;
}