* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111827;
    color: #E5E7EB;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px 30px;
    border-bottom: 2px solid #374151;
}

header img {
    height: 60px;
}

header p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    color: #E5E7EB;
}

header h1 {
    flex: 1;
    text-align: center;
    font-size: 40px;
    margin-right: 60px;
    color: #4B90F2;
}

.painel {
    background-color: #1F2937;
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
    text-align: center;
}

.painel p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #D6AD6A;
}

.painel label {
    display: block;
    color: #E5E7EB;
    font-weight: bold;
    text-align: left;
    margin: 10px 0 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #374151;
    color: #FFFFFF;
    font-size: 16px;
}

button {
    background-color: #4B90F2;
    color: #FFFFFF;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #326BBE;
}