* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111827;
    color: #E5E7EB;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px 30px;
    border-bottom: 2px solid #374151;
}

header img {
    height: 60px;
}

header p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    color: #E5E7EB;
}

header h1 {
    flex: 1;
    text-align: center;
    font-size: 40px;
    margin-right: 60px;
    color: #4B90F2;
}

main {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 100px;
    margin-top: 60px;
}

.painel-esquerdo,
.painel-direito {
    background-color: #1F2937;
    padding: 60px;
    border-radius: 10px;
    width: 70vh;
    height: 80vh;
}

button {
    background-color: #4B90F2;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    width: 300px;
}

button:hover {
    background-color: #326BBE;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #374151;
    color: #FFFFFF;
    border: 1px solid #374151;
    border-radius: 8px;
    margin-top: 6px;
}

.painel-direito label {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 16px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-color: #374151;
    color: #4B90F2;
}

.painel-direito button {
    margin-top: 25px;
    width: 100%;
}

.painel-esquerdo {
    display: flex;
    justify-content: center;
    align-items: center;
}