* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111827;
  color: #E5E7EB;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111827;
  padding: 10px 30px;
  height: 80px;
}

header img:first-of-type {
  height: 60px;
  margin-right: 10px;
}

header #nomeSite {
  flex: 1;
  height: 50px;
  width: 50px;
}

header p {
  font-size: 12px;
  margin: 0 5px;
  color: #E5E7EB;
}

.container {
  display: flex;
  height: 100vh;
}

.caixa-jogadores {
  width: 250px;
  background-color: #111827;
}

.area-central {
  flex: 1;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  border-left: 2px solid #D6AD6A;
  border-top: 2px solid #D6AD6A;
  border-top-left-radius: 100px;
}

.dado-container {
  position: relative;
  width: 150px;   
  height: 150px;  
}

.dado-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dado-fundo {
  z-index: 1; 
}

.dado-frente {
  z-index: 2; 
}

.header-info, p{
  color: #4B90F2;
}

img {
  width: 200px;
  height: 200px;
}